<div id="wrapper">
  <div id="feed">

<% for (var i = 0; i < rows.length ; i++) { %>
  <% let data = rows[i].dataValues %>
  <div class="post" data-postID=<%= data.id %> >
    <div class="postHead">
      <img src=<%= '.'+data.profilepic %> class="user_pic">
      <h4 class="info"><span class="username"><%= data.username %></span> | <span class="date-created"><%= data.createdAt %></span></h4>
    <%  if (tempLogin.length>0) { %>

      <form action='/edit' method='post'>
        <button type="submit" name="postid" value=<%= data.id %> >Edit</button>
      </form>

    <% } %>
    </div>
    <div class="postBody">
      <img src=<%= "../images/posts/" + data.postpic %> class="post_pic">
    </div>
    <div class="postFooter">
      <img src="" class="like_pic">
      <form action='/like' method='post'>
      <button type="submit" class="likeBtn" name="postid" data-postID=<%= data.id %> ><%= data.likes %> likes</button>
      </form>
      <div class="description"><%= data.description %></div>
      <div class="comments">
        <textarea></textarea>
      </div>
    </div>
    </div>

    <% } %>

  </div>
</div>
