<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%- include partials/_headLinks %>

    <title>comments</title>
  </head>
  <body>
    <%- include partials/_nav %>

    <div class="commentsWrapper">


        <% if (commentData.length<1) { %>
          <h1>no comments</h1>
        <% } else { %>
          <% for (let comment of commentData) { %>
            <div class="commentItem">
            <a href="../user/<%=comment.username%>"><img src=<%=`.${comment.profilepic}`%> class="user_pic"><h4 class="username"><%= comment.username %></h4><h6><%= comment.content %></h6><a>
            </div>
          <% } %>
        <% } %>

    </div>

  </body>
</html>
