<!DOCTYPE html>
<html>
<head>
	<title>BarkSpace | Home</title>
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>

	<%- include partials/_nav %>
	<h2>Woof Woof <%= tempLogin %></h2>

	<div id="wrapper">
		<div id="feed">

	<% for (var i = 0; i < rows.length ; i++) { %>
		<% let data = rows[i].dataValues %>
		<div class="post" data-postID=<%= data.id %> >
			<div class="postHead">
				<img src=<%= data.profilepic %> class="user_pic">
				<h4 class="username"><%= data.username %> | <%= data.createdAt %></h4>

			</div>
			<div class="postBody">
				<img src=<%= data.postpic %> class="post_pic">
			</div>
			<div class="postFooter">
				<img src="" class="like_pic">
				<p> <%= data.likes %> likes</p>
				<div class="description"><%= data.description %></div>
				<div class="comments">
					<textarea></textarea>
				</div>
			</div>

	<% } %>

</div>
</div>


<div id="display">




</div>



</body>
</html>
